.Rproj.user
.Rhistory
.RData
.Ruserdata

Integrated_Likelihood_Algorithm/Polytomous_Logistic_Regression/Simulations/Marginal_Entropy/job_submit.sh
Integrated_Likelihood_Algorithm/Polytomous_Logistic_Regression/Simulations/Marginal_Entropy/test.R
**/experiments/exp_*/simulations/sim_*/iter_*/plots/
**/experiments/exp_*/individual_runs/run_*/plots/
